* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

/*have page content span only 60% of screen*/
.content {
    width: 60%;
}

/*Header styling*/
header {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1F2937;
    height: 60px;
    width: 100%;
}

header > .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header-logo {
    font-size: 24px;
    color: #F9FAF8;

}

#header-links {
    font-size: 18px;
    color: #E5E7EB;
    display: flex;
    list-style: none;
    gap: 20px;
}

#header-links li a {
    /* Resetting link styles */
    text-decoration: none;
    color: inherit;
}

/*Hero styling*/
.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1F2937;
    padding-top: 10vh;
    padding-bottom: 10vh;
}

.hero > .content {
    display: flex;
    gap: 10vh;
}

#hero-text {
    flex: 1;
}

#hero-image {
    flex: 1;
    display: flex;
    background-color: #878787;
    justify-content: center;
    align-items: center;
    color: #E5E7EB;
}

#hero-text h1,
#hero-text p,
#hero-text button {
    margin-top: 10px;
    margin-bottom: 10px;
}

#hero-text h1 {
    font-size: 48px;
    color: #F9FAF8;
}

#hero-text p {
    font-size: 18px;
    color: #E5E7EB;
}

#hero-text button {
    font-size: 18px;
    color: #F9FAF8;
    background-color: #3882F6;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
    border-radius: 5px;
}

/*info styling*/
.info{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5vh;
    padding-bottom: 10vh;
}

.info > .content {
    align-items: center;
}

#info-header {
    text-align: center;
    padding-bottom: 5vh;
}

.info > .content > .container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.container > * > img {
    height: 200px;
    width: 200px;
    border-radius: 20px;
    border: 2px solid #3882F6;
}

.container > * > .subtext {
    width: 200px;
    text-align: center;
    font-size: 18px;
    font-weight: 100;
}

/*quote styling*/
.quote {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    padding-top: 10vh;
    padding-bottom: 10vh;
}

    /*shrink content*/
.quote > .content {
    width: 40%;
}

.quote > .content > .text {
    font-size: 36px;
    color: #1F2937;
    font-weight: lighter;
    font-style: italic;
}

.quote > .content > .signee {
    font-size: 18px;
    color: #1F2937;
    font-weight: bold;
    text-align: right;
}

/*sign-up styling*/
.sign-up {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10vh;
    padding-bottom: 10vh;
}

.sign-up > .content {
    background-color: #3882F6;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5vh;
    border-radius: 5px;
}

.action-call > h3 {
    font-size: 24px;
    color: #E5E7EB;
    font-weight: bold;
}

.action-call > p {
    font-size: 18px;
    color: #E5E7EB;
}

.sign-up > .content > button {
    font-size: 18px;
    color: #F9FAF8;
    background-color: #3882F6;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border: 2px solid #F9FAF8;
    border-radius: 5px;
    margin-right: 50px;
}

/*footer styling*/
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1F2937;
    height: 80px;
    width: 100%;
}

footer > .footer-text {
    font-size: 18px;
    color: #E5E7EB;
}