* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;

    /*Add red outline to all elements
    outline: red 1px auto;*/
}

/*Have page content span only 70% of screen*/
.content {
    width: 60%;
}

/*Header styling*/
header {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1F2937;
    height: 60px;
    width: 100%;
}

header > .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header-logo {
    font-size: 24px;
    color: #F9FAF8;

}

#header-links {
    font-size: 18px;
    color: #E5E7EB;
    display: flex;
    list-style: none;
    gap: 20px;
}

/*Hero styling*/
.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1F2937;
    padding-top: 10vh;
    padding-bottom: 10vh;
}

.hero > .content {
    display: flex;
    gap: 10vh;
}

#hero-text {
    flex: 1;
}

#hero-image {
    flex: 1;
    display: flex;
    background-color: #878787;
    justify-content: center;
    align-items: center;
    color: #E5E7EB;
}

#hero-text h1,
#hero-text p,
#hero-text button {
    margin-top: 10px;
    margin-bottom: 10px;
}

#hero-text h1 {
    font-size: 48px;
    color: #F9FAF8;
}

#hero-text p {
    font-size: 18px;
    color: #E5E7EB;
}

#hero-text button {
    font-size: 18px;
    color: #F9FAF8;
    background-color: #3882F6;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
    border-radius: 5px;
}

/*info styling*/
.info{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5vh;
    padding-bottom: 10vh;
}

.info > .content {
    align-items: center;
}

#info-header {
    text-align: center;
    padding-bottom: 5vh;
}

.info > .content > .container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.container > * > img {
    height: 200px;
    width: 200px;
    border-radius: 20px;
}

.container > * > .subtext {
    width: 200px;
    text-align: center;
    font-size: 18px;
    font-weight: 100;
}

/*quote styling*/
